* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 50px;
  color: black;
}

#main-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: rgb(114, 90, 90);
  padding: 40px;
  border-radius: 20px;
}

div {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,button {
  width: 100%;
  outline: none;
  padding: 20px;
  /* border-radius: 20px 0 0 20px; */
}
