* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(28, 20, 20);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 50px;
  color: black;
}

#main-container {
  width: 40%;

  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 15px;
}

div {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button {
  margin: 3px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  /* border-radius: 20px 0 0 20px; */
}
